@model Vex_E_commerce.Models.CustomerVm


@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    var profilePicture = Model.User?.ProfilePictureUrl ?? "https://avatars.githubusercontent.com/u/124599?v=4";

    var CustomerDetialList = new[]
   {
        new {
            Label = "Total Order",
            Value = "2300",
            Description = "New cost last 365 days",
            dotClassName = ""
        },
        new {
            Label = "Total spendding",
            Value = "123",
            Description = "Total order last 365 days",
            dotClassName = "size-4 rounded-full bg-[#FFA232]"

        },
        new {
            Label = "Completed",
            Value = "100",
            Description = "Completed order last 365 days",
            dotClassName = "size-4 rounded-full bg-green-500"

        },
        new {
            Label = "Cancled",
            Value = "2300",
            Description = "New cost last 365 days",
            dotClassName = "size-4 rounded-full bg-destructive"
        },
    };

}

<div class="p-5">
   <div class="flex gap-3">
        <a asp-action="Customer" asp-controller="Admin" class="flex size-11 items-center justify-center rounded-sm border border-border bg-transparent hover:bg-muted-foreground/10 hover:cursor-pointer">
            <i class="ph ph-arrow-left text-muted-foreground"></i>
        </a>
        <div>
            <p class="text-muted-foreground text-sm font-semibold">Back to customer</p>
            <h1 class="text-lg font-bold">@(@Model?.User.Name ?? "Not Provide")</h1>
        </div>
   </div>
    
   <div class="mt-10 grid grid-cols-2 gap-4 md:grid-cols-3 lg:grid-col-4">
        @foreach (var item in CustomerDetialList)
        {
            <div class="flex justify-between rounded-sm border border-border bg-white p-3">
                <div class="flex flex-col gap-3">
                    <h3 class="text-sm font-medium">@item.Label</h3>
                   <div class="flex items-center gap-3">
                        <p class="text-3xl font-bold text-primary">@item.Value</p>
                        <div class="@item.dotClassName"></div>
                   </div>
                    <p class="text-muted-foreground text-sm font-medium">@item.Description</p>
                </div>
            </div>

        }

   </div>

    <div class="mt-5 h-px flex-1 border-b border-border"></div>



   <div class="mt-10">
      <div class="grid grid-cols-1 gap-5 md:grid-cols-3 md:gap-6">
            <div class="col-span-1 flex w-full flex-col gap-3">
                <h2 class="text-xl font-bold">Customer Infomation</h2>

                <div class="relative flex flex-col gap-3 rounded-md border border-border bg-white p-5">
                    <div>
                        <label class="text-muted-foreground text-xs">Name</label>
                        <p class="text-sm font-medium text-primary">@(@Model?.User.Name ?? "Not Provide")</p>
                    </div>
                    <div>
                        <label class="text-muted-foreground text-xs">Email</label>
                        <p class="text-sm font-medium text-primary">@Model.User.Email</p>
                    </div>
                  <div class="flex gap-3">
                        <form asp-action="CustomerDetail" asp-controller="Admin" method="post">
                            @Html.AntiForgeryToken()
                            <div class="flex gap-5">
                                <div class="flex flex-col gap-3">
                                    <label class="text-muted-foreground text-xs">Role</label>
                                    <select asp-for="Form.Role"
                                            asp-items="Html.GetEnumSelectList<Vex_E_commerce.Models.UserRole>()"
                                            class="rounded-sm border border-border bg-white px-3 py-2 text-sm">
                                    </select>
                                    <span asp-validation-for="Form.Role" class="text-xs text-red-500"></span>

                                </div>
                                <div class="flex flex-col gap-3">
                                    <label class="text-muted-foreground text-xs">Role</label>
                                    <select asp-for="Form.Status"
                                            asp-items="Html.GetEnumSelectList<Vex_E_commerce.Models.UserStatus>()"
                                            class="rounded-sm border border-border bg-white px-3 py-2 text-sm">
                                    </select>
                                    <span asp-validation-for="Form.Status" class="text-xs text-red-500"></span>

                                </div>
                                <input type="hidden" asp-for="Form.Id" />
                                <div class="flex items-end">
                                    <button type="submit" class="cursor-pointer bg-primary px-3 py-2 text-sm text-white hover:bg-primary/90 md:text-sm">Update</button>
                                </div>
                            </div>
                        </form>
                  </div>
                    <div>
                        <label class="text-muted-foreground text-xs">Shipping Address</label>
                        <p class="text-sm font-medium text-primary">Wait...</p>
                    </div>
                    <img class="absolute top-5 right-9 size-16 rounded-full" src="@profilePicture" />
                </div>
            </div>
            <div class="col-span-1 md:col-span-2">
                <div>
                    <h2 class="text-xl font-bold">Orders</h2>
                </div>

                <div class="mt-3">
                    <div class="grid grid-cols-1">
                        <div class="relative overflow-x-auto rounded-lg border border-border">
                            <table class="w-full bg-white text-left text-sm text-gray-500 rtl:text-right dark:text-gray-400">
                                <thead class="text-muted-foreground text-xs uppercase dark:bg-gray-700 dark:text-gray-400">
                                    <tr class="mx-3 border-b border-border">

                                        <th scope="col" class="px-6 py-3">
                                            ID
                                        </th>
                                        <th scope="col" class="px-6 py-3">
                                            Date
                                        </th>
                                        <th scope="col" class="px-6 py-3">
                                            Qty
                                        </th>
                                        <th scope="col" class="px-6 py-3">
                                            Price
                                        </th>
                                        <th scope="col" class="px-6 py-3">
                                            Status
                                        </th>
                                        <th scope="col" class="px-6 py-3">
                                            Action
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>

                                        <tr class="border-b border-gray-200 text-primary">
                                            <th scope="row" class="px-6 py-4 whitespace-nowrap">
                                               #ORD394920420
                                            </th>
                                            <td class="px-6 py-4">
                                               2024-05-31
                                            </td>
                                            <td class="px-6 py-4">
                                                2
                                            </td>
                                            <td class="px-6 py-4">
                                                $2341
                                            </td>
                                            <td class="px-6 py-4">
                                                Shipping
                                            </td>
                                            <td class="px-6 py-4">
                                                View
                                            </td>
                                        </tr>
                                        <tr class="border-b border-gray-200 text-primary">
                                            <th scope="row" class="px-6 py-4 whitespace-nowrap">
                                               #ORD394920420
                                            </th>
                                            <td class="px-6 py-4">
                                               2024-05-31
                                            </td>
                                            <td class="px-6 py-4">
                                                2
                                            </td>
                                            <td class="px-6 py-4">
                                                $2341
                                            </td>
                                            <td class="px-6 py-4">
                                                Shipping
                                            </td>
                                            <td class="px-6 py-4">
                                                View
                                            </td>
                                        </tr>
                                        <tr class="border-b border-gray-200 text-primary">
                                            <th scope="row" class="px-6 py-4 whitespace-nowrap">
                                               #ORD394920420
                                            </th>
                                            <td class="px-6 py-4">
                                               2024-05-31
                                            </td>
                                            <td class="px-6 py-4">
                                                2
                                            </td>
                                            <td class="px-6 py-4">
                                                $2341
                                            </td>
                                            <td class="px-6 py-4">
                                                Shipping
                                            </td>
                                            <td class="px-6 py-4">
                                                View
                                            </td>
                                        </tr>
                                        <tr class="border-b border-gray-200 text-primary">
                                            <th scope="row" class="px-6 py-4 whitespace-nowrap">
                                               #ORD394920420
                                            </th>
                                            <td class="px-6 py-4">
                                               2024-05-31
                                            </td>
                                            <td class="px-6 py-4">
                                                2
                                            </td>
                                            <td class="px-6 py-4">
                                                $2341
                                            </td>
                                            <td class="px-6 py-4">
                                                Shipping
                                            </td>
                                            <td class="px-6 py-4">
                                                View
                                            </td>
                                        </tr>
                                        <tr class="border-b border-gray-200 text-primary">
                                            <th scope="row" class="px-6 py-4 whitespace-nowrap">
                                               #ORD394920420
                                            </th>
                                            <td class="px-6 py-4">
                                               2024-05-31
                                            </td>
                                            <td class="px-6 py-4">
                                                2
                                            </td>
                                            <td class="px-6 py-4">
                                                $2341
                                            </td>
                                            <td class="px-6 py-4">
                                                Shipping
                                            </td>
                                            <td class="px-6 py-4">
                                                View
                                            </td>
                                        </tr>

                                </tbody>
                            </table>
                        </div>

                    </div>

                </div>
            </div>
      </div>
   </div>
</div>