@model Vex_E_commerce.Models.CustomerVm


@{
    ViewData["Title"] = "Customer Detail";

    Layout = "~/Views/Shared/_AdminLayout.cshtml";

    var TotalOrders = ViewBag.TotalOrders;
    var TotalSpending = ViewBag.TotalSpending;
    var CompletedOrders = ViewBag.CompletedOrders;
    var CancelledOrders = ViewBag.CancelledOrders;

    var CustomerDetialList = new[]
   {
        new {
            Label = "Total Order",
            Value = TotalOrders,
            Description = "New cost last 365 days",
            dotClassName = ""
        },
        new {
            Label = "Total spendding",
            Value = TotalSpending,
            Description = "Total order last 365 days",
            dotClassName = "size-4 rounded-full bg-[#FFA232]"

        },
        new {
            Label = "Completed",
            Value = CompletedOrders,
            Description = "Completed order last 365 days",
            dotClassName = "size-4 rounded-full bg-green-500"

        },
        new {
            Label = "Cancled",
            Value = CancelledOrders,
            Description = "New cost last 365 days",
            dotClassName = "size-4 rounded-full bg-destructive"
        },
    };

}

<div class="p-5">
   <div class="flex gap-3">
        <a asp-action="Customer" asp-controller="Admin" class="flex size-11 items-center justify-center rounded-sm border border-border bg-transparent hover:bg-muted-foreground/10 hover:cursor-pointer">
            <i class="ph ph-arrow-left text-muted-foreground"></i>
        </a>
        <div>
            <p class="text-muted-foreground text-sm font-semibold">Back to customer</p>
            <h1 class="text-lg font-bold">@(@Model?.User.Email ?? "Not Provide")</h1>
        </div>
   </div>
    
   <div class="mt-10 grid grid-cols-2 gap-4 lg:grid-cols-4">
        @foreach (var item in CustomerDetialList)
        {
            <div class="flex justify-between rounded-sm border border-border bg-white p-3">
                <div class="flex flex-col gap-3">
                    <h3 class="text-sm font-medium">@item.Label</h3>
                   <div class="flex items-center gap-3">
                        <p class="text-xl font-bold text-primary md:text-3xl">@item.Value</p>
                        <div class="@item.dotClassName"></div>
                   </div>
                    <p class="text-muted-foreground text-sm font-medium">@item.Description</p>
                </div>
            </div>

        }

   </div>

    <div class="mt-5 h-px flex-1 border-b border-border"></div>



   <div class="mt-10">
      <div class="grid grid-cols-1 gap-5 md:gap-6 lg:grid-cols-3">
            <div class="col-span-1 flex w-full flex-col gap-3">
                <h2 class="text-xl font-bold">Customer Infomation</h2>

                <div class="relative flex flex-col gap-3 rounded-md border border-border bg-white p-5">
                    <div>
                        <label class="text-muted-foreground text-xs">Name</label>
                        <p class="text-sm font-medium text-primary">@(@Model?.User.Name ?? "Not Provide")</p>
                    </div>
                    <div>
                        <label class="text-muted-foreground text-xs">Email</label>
                        <p class="text-sm font-medium text-primary">@Model.User.Email</p>
                    </div>
                  <div class="flex gap-3">
                        <div class="flex flex-col gap-3">
                            <form asp-action="CustomerDetail" asp-controller="Admin" method="post" class="flex items-end gap-4">

                                <input type="hidden" asp-for="Form.Id" />

                                <div class="flex flex-col gap-1">
                                    <label class="text-muted-foreground text-xs">User Role</label>

                                    <select asp-for="Form.Role"
                                            asp-items="ViewBag.RoleList"
                                            class="w-auto rounded-sm border border-border bg-white px-3 py-2 text-sm uppercase">
                                    </select>
                                </div>

                                <div class="flex flex-col gap-1">
                                    <label class="text-muted-foreground text-xs">User Status</label>

                                    <select asp-for="Form.Status"
                                            asp-items="ViewBag.StatusList"
                                            class="w-auto rounded-sm border border-border bg-white px-3 py-2 text-sm uppercase">
                                    </select>
                                </div>

                                <button type="submit" class="rounded-sm bg-black px-4 py-2 text-sm text-white transition hover:bg-gray-800">
                                    Update
                                </button>
                            </form>
                        </div>
                  </div>
                    <img class="absolute top-5 right-9 size-16 rounded-full" alt="Profile-image" src="/Images//Avatar/Avatar.webp" />
                </div>
            </div>
            <div class="col-span-1 md:col-span-2">
                <div>
                    <h2 class="text-xl font-bold">Orders</h2>
                </div>

                <div class="mt-3">
                    <div class="grid grid-cols-1">
                        <div class="relative overflow-x-auto rounded-lg border border-border">
                            <table class="w-full bg-white text-left text-sm text-gray-500 rtl:text-right">
                                <thead class="text-muted-foreground text-xs uppercase">
                                    <tr class="mx-3 border-b border-border">

                                        <th scope="col" class="px-6 py-3">
                                            ID
                                        </th>
                                        <th scope="col" class="px-6 py-3">
                                            Date
                                        </th>
                                        <th scope="col" class="px-6 py-3">
                                            Price
                                        </th>
                                        <th scope="col" class="px-6 py-3">
                                            Status
                                        </th>
                                        <th scope="col" class="px-6 py-3">
                                            Action
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach( var i in Model.Orders)
                                    {
                                        <tr class="border-b border-gray-200 text-primary">
                                            <th scope="row" class="px-6 py-4 whitespace-nowrap">
                                                @i.OrderNumber
                                             </th>
                                            <td class="px-6 py-4">
                                                @i.createdAt
                                            </td>
                                            <td class="px-6 py-4">
                                               @i.totalAmount
                                            </td>
                                            <td class="px-6 py-4 uppercase">
                                                @i.status
                                            </td>
                                            <td class="px-6 py-4">
                                                <a asp-action="OrderDetail" asp-controller="admin" asp-route-id="@i.Id" class="underline">
                                                    View
                                                </a>
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>

                        <div class="mt-5 flex items-center justify-center gap-5 p-5 md:p-0">

                            @if (ViewBag.Page > 1)
                            {
                                <a asp-action="CustomerDetail"
                                   asp-controller="Admin"
                                   asp-route-id="@ViewBag.CustomerId"
                                   asp-route-page="@(ViewBag.Page - 1)"
                                   class="w-auto border-[0.5px] bg-primary px-4 py-2 text-center text-xs font-semibold text-white transition-colors duration-200 hover:cursor-pointer hover:bg-transparent hover:text-primary md:w-auto">
                                    Prev
                                </a>
                            }

                            <span>@ViewBag.Page / @ViewBag.TotalPages</span>

                            @if (ViewBag.Page < ViewBag.TotalPages)
                            {
                                <a asp-action="CustomerDetail"
                                   asp-controller="Admin"
                                   asp-route-id="@ViewBag.CustomerId"
                                   asp-route-page="@(ViewBag.Page + 1)"
                                   class="w-auto border-[0.5px] bg-primary px-4 py-2 text-center text-xs font-semibold text-white transition-colors duration-200 hover:cursor-pointer hover:bg-transparent hover:text-primary md:w-auto">
                                    Next
                                </a>
                            }

                        </div>

                    </div>

                </div>
            </div>
      </div>
   </div>
</div>