@model List<Product>

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
    var Keyword = ViewBag.keyword;
}

<div class="w-full flex-col px-5">
    <div class="mb-3 flex flex-col items-start gap-3 md:flex-row md:items-center md:justify-between md:gap-0">
        <div>
            <h1 class="text-xl font-bold md:text-2xl">Product Manager</h1>
            <p class="text-muted-foreground text-xs md:text-sm">Manage your product inventory and details</p>
        </div>
        <a asp-action="CreateProduct" asp-controller="AdminProduct"
                   class="w-full border-[0.5px] bg-primary px-4 py-2 text-center text-xs font-semibold text-white transition-colors duration-200 hover:cursor-pointer hover:bg-transparent hover:text-primary md:w-auto md:text-base">
            Add Product
        </a>
      
    </div>

  
    <div class="grid grid-cols-1">


        <div class="my-4 h-px flex-1 border-b border-border"></div>
        <div class="flex justify-end">
            <form asp-controller="Admin" asp-action="Index" class="relative w-full md:w-64">
                <input placeholder="Search Product Title" name="keyword" value="@Keyword" class="h-9 w-full rounded-sm border-[#D9D9D9] border-[0.5px] bg-white pl-8 text-sm placeholder:text-sm placeholder:text-[#D9D9D9]" />
                    <i class="ph ph-magnifying-glass absolute top-2 left-2.5"></i>
                <a asp-action="Index" asp-controller="Admin" class="absolute top-2 right-2.5 @(string.IsNullOrWhiteSpace(ViewBag.keyword as string) ? "hidden" : "")"><i class="ph ph-x"></i></a>
            </form>
            
        </div>
            <div class="relative overflow-x-auto pt-3">
                <table class="w-full text-left text-sm whitespace-nowrap text-gray-500 rtl:text-right dark:text-gray-400">
                <thead class="text-muted-foreground rounded-sm bg-[#F4F4F5] text-xs uppercase dark:text-gray-400">
                        <tr>
                           
                            <th scope="col" class="px-6 py-3">
                                Product Name
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Price
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Stock
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Created At
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Status
                            </th>
                            <th scope="col" class="px-6 py-3">
                                Action
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                    @if (Model == null || !Model.Any())
                    {
                        <tr>
                            <td colspan="6" class="px-2 py-8 text-center text-sm text-gray-400">
                                ไม่พบสินค้า
                            </td>
                        </tr>
                    } else
                    {
                        @foreach (var item in Model)
                        {
                            <tr class="border-b border-gray-200 text-center text-primary md:text-left">
                                <th scope="row"
                                    class="px-2 py-3 text-xs md:px-6 md:py-4">
                                    <div class="flex items-center gap-2 md:gap-3">
                                        <img class="size-6 rounded-sm object-cover md:size-8"
                                             src="@item.PictureUrl"
                                             alt="@item.Title" />
                                        <p class="font-mono">@item.Title</p>
                                    </div>
                                </th>


                                <td class="px-2 py-3 md:px-6 md:py-4">
                                    @item.BasePrice
                                </td>

                                <td class="px-2 py-3 md:px-6 md:py-4">
                                    @item.TotalStock
                                </td>

                                <td class="px-2 py-3 md:px-6 md:py-4">
                                    @item.CreatedAt
                                </td>

                                <td class="px-2 py-3 md:px-6 md:py-4">
                                    @item.Status
                                </td>


                                <td class="relative flex items-center justify-center px-2 py-3 md:justify-start md:px-6 md:py-4">
                                    <button type="button"
                                            class="flex size-8 items-center justify-center rounded-sm hover:bg-muted-foreground/10 md:size-10"
                                            onclick="toggleMenu('menu-@item.Id')">
                                        <i class="ph-bold ph-dots-three-vertical text-xl md:text-2xl"></i>
                                    </button>

                                    <div id="menu-@item.Id"
                                         class="absolute top-10 right-30 mt-2 hidden w-32 rounded-sm border border-border bg-white">
                                        <a asp-action="EditProduct"
                                           asp-controller="AdminProduct"
                                           asp-route-id="@item.Id"
                                           class="block px-4 py-2 text-sm hover:bg-muted-foreground/10">
                                            <i class="ph ph-pencil-simple mr-2"></i>
                                            Edit
                                        </a>

                                        <form method="post"
                                              asp-action="DeleteProduct"
                                              asp-route-id="@item.Id">
                                            <button type="submit"
                                                    class="flex w-full items-center px-4 py-2 text-sm text-destructive hover:bg-destructive/10">
                                                <i class="ph ph-trash mr-2"></i>
                                                Delete
                                            </button>
                                        </form>
                                    </div>
                                </td>
                            </tr>
                        }

                    }
                </tbody>
                </table>
            </div>

        </div>
    </div>
<div class="mt-4 flex items-center justify-center gap-5">
    @if (ViewBag.Page > 1)
    {
        <a asp-action="Index" class="w-auto border-[0.5px] bg-primary px-4 py-2 text-center text-xs font-semibold text-white transition-colors duration-200 hover:cursor-pointer hover:bg-transparent hover:text-primary md:w-auto" asp-route-page="@(ViewBag.Page - 1)">Prev</a>
    }

    <span>@ViewBag.Page / @ViewBag.TotalPages</span>

    @if (ViewBag.Page < ViewBag.TotalPages)
    {
        <a asp-action="Index" class="w-auto border-[0.5px] bg-primary px-4 py-2 text-center text-xs font-semibold text-white transition-colors duration-200 hover:cursor-pointer hover:bg-transparent hover:text-primary md:w-auto" asp-route-page="@(ViewBag.Page + 1)">Next</a>
    }
</div>

</div>



<script>
    function toggleMenu(id) {
        const menu = document.getElementById(id);
        // ปิดเมนูอื่นก่อน
        document.querySelectorAll('[id^="menu-"]').forEach(m => {
            if (m.id !== id) m.classList.add('hidden');
        });
        // toggle เมนูที่กด
        menu.classList.toggle('hidden');
    }

    // ปิด dropdown ถ้าคลิกนอกพื้นที่
    window.addEventListener('click', function (e) {
        if (!e.target.closest('td')) {
            document.querySelectorAll('[id^="menu-"]').forEach(m => m.classList.add('hidden'));
        }
    });
</script>