<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Vex_E_commerce</title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Vex_E_commerce.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/output.css" asp-append-version="true" />
    <link href='https://cdn.boxicons.com/fonts/basic/boxicons.min.css' rel='stylesheet'>
    <link href="https://cdn.jsdelivr.net/npm/phosphor-icons@1.4.2/src/css/icons.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="~/site/nohemi.css" asp-append-version="true" />
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

</head>
<body>
    <header class="fixed z-40 min-w-svw border-b border-border bg-[#fafafa] shadow-sm">
        <div class="flex h-[76px] items-center justify-between p-5">
            <div class="text-3xl font-bold">
                <a href="/">Vex</a>
            </div>

            <div class="relative hidden w-80 flex-col items-center justify-center gap-5 md:flex">
                    <form class="w-full" asp-action="Index" asp-controller="Discover">
                    <input placeholder="Search Product Title" name="keyword" value="@Context.Request.Query["keyword"]" class="h-9 w-full rounded-full border-[#D9D9D9] border-[0.5px] bg-white pl-8 text-sm placeholder:text-sm placeholder:text-[#D9D9D9]" />
                        <i class="ph ph-magnifying-glass text-muted-foreground absolute top-2.5 left-2.5"></i>
                        <a asp-action="Index" asp-controller="Discover" class="absolute top-2.5 right-2.5 @(string.IsNullOrWhiteSpace(ViewBag.keyword as string) ? "hidden" : "")"><i class="ph ph-x"></i></a>
                    </form>

            </div>
            <partial name="_LoginPartial" />
        </div>

        <div class="flex items-center justify-center">
            <div class="relative my-4 flex w-80 flex-col items-center justify-center gap-5 md:hidden">
                <form class="w-full" asp-action="Index" asp-controller="Discover">
                    <input placeholder="Search Product Title" name="keyword" value="@Context.Request.Query["keyword"]" class="h-9 w-full rounded-full border-[#D9D9D9] border-[0.5px] bg-white pl-8 text-sm placeholder:text-sm placeholder:text-[#D9D9D9]" />
                    <i class="ph ph-magnifying-glass text-muted-foreground absolute top-2.5 left-2.5"></i>
                    <a asp-action="Index" asp-controller="Discover" class="absolute top-2.5 right-2.5 @(string.IsNullOrWhiteSpace(ViewBag.keyword as string) ? "hidden" : "")"><i class="ph ph-x"></i></a>
                </form>

            </div>
        </div>



    </header>

    @RenderBody()


    <footer class="mt-10 flex w-full flex-col gap-4 bg-white p-5 px-10 md:p-10 md:px-32">
        <div class="mb-5 flex flex-col justify-between gap-3 md:flex-row md:gap-0">
            <div class="flex flex-col gap-2">
                <h3 class="text-muted-foreground text-sm font-medium">
                    Contact us at :
                </h3>

                <p class="flex items-center gap-4 text-xl font-semibold underline hover:text-muted-foreground hover:cursor-pointer md:text-2xl">Vex_ECom@Shop.com 
                    <span>
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 16 16"><path fill="currentColor" d="M10.586 4H4V2h10v10h-2V5.414l-8.293 8.293l-1.414-1.414z" /></svg>
                    </span>
                </p>
            </div>
            <div class="my-4 block h-px flex-1 border-b border-border md:hidden"></div>

            <div class="flex flex-col gap-2">
                <h3 class="text-muted-foreground text-sm font-medium md:text-lg">Site</h3>
                <div class="flex cursor-pointer flex-col gap-2 text-lg font-medium md:text-xl">
                    <a class="transition-colors hover:text-primary hover:underline">Home</a>
                    <a class="transition-colors hover:text-primary hover:underline">Shop</a>
                    <a class="transition-colors hover:text-primary hover:underline">Category</a>
                    <a class="transition-colors hover:text-primary hover:underline">About</a>
                    <a class="transition-colors hover:text-primary hover:underline">Contact</a>
                </div>
            </div>
        </div>
        <h1 class="flex items-baseline gap-3 text-5xl font-bold md:text-[200px]">
            VEX SHOP <span class="text-xl md:text-6xl">©</span>
        </h1>
        <div class="flex items-center justify-start gap-3 md:gap-10">
            <p class="text-xs font-medium md:text-lg">© Copyright 2025</p>
            <a class="flex items-center gap-1 text-xs font-medium underline md:gap-3 md:text-lg">Privacy Policy
                <span>
                    <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 16 16"><path fill="currentColor" d="M10.586 4H4V2h10v10h-2V5.414l-8.293 8.293l-1.414-1.414z" /></svg>
                </span>
            </a>
            <a class="flex items-center gap-1 text-xs font-medium underline md:gap-3 md:text-lg">Terms and Conditions
                <span>
                    <svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 16 16"><path fill="currentColor" d="M10.586 4H4V2h10v10h-2V5.414l-8.293 8.293l-1.414-1.414z" /></svg>
                </span>
            </a>
        </div>
    </footer>




    <script src="_framework/blazor.server.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://cdn.jsdelivr.net/npm/phosphor-icons@1.4.2/src/index.min.js"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/flowbite@2.5.1/dist/flowbite.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>