@model List<Vex_E_commerce.Models.ProductCardVm>

@*
*@
@{

    var colorList = new[]
         {
        new { style = "bg-red-600"      },
        new { style = "bg-neutral-900"  },
        new { style = "bg-white border" },
    };

    var sortList = new[]
    {
        new
        {
           id = "LTH",
           value = "priceAsc",
           HTMLFor = "LTH",
           label = "Low to high (price)",
        },
        new
        {
           id = "HTL",
           value = "priceDsec",
           HTMLFor = "HTL",
           label = "High to low (price)",
        },
    };

    var keyword = ViewBag.keyword;
    string currentSort = (ViewBag.Sort as string) ?? ""; 
}


<div class="pt-16 md:pt-[76px]">
    <img class="h-[200px] w-full object-cover object-[70%_25%]" src="https://images.unsplash.com/photo-1635650804483-2a77a8c9e728?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&q=80&w=2340" />


    <div class="mx-5 mt-10 md:mx-10 lg:mx-32">
        <div class="flex items-center justify-between">
            <h2 class="text-7xl font-semibold">@keyword</h2>
            <div class="mx-5 h-px flex-1 border-b border-border"></div>
            <button type="button" data-drawer-target="drawer-filter"
                    data-drawer-show="drawer-filter"
                    aria-controls="drawer-filter"
                    data-drawer-placement="right"
                class="flex cursor-pointer items-baseline gap-3 rounded-sm px-3 py-1 text-base hover:border hover:border-border hover:bg-[#F1F1f1]">
                <svg xmlns="http://www.w3.org/2000/svg" class="size-4" viewBox="0 0 256 256"><path d="M200,136a8,8,0,0,1-8,8H64a8,8,0,0,1,0-16H192A8,8,0,0,1,200,136Zm32-56H24a8,8,0,0,0,0,16H232a8,8,0,0,0,0-16Zm-80,96H104a8,8,0,0,0,0,16h48a8,8,0,0,0,0-16Z"></path></svg>Filter
            </button>
        </div>

        <div class="mt-10 grid grid-cols-2 gap-4 sm:grid-cols-3 md:grid-cols-5 md:gap-10">
            @foreach (var i in Model)
            {
                <div class="font-geist flex flex-col rounded-md border border-border bg-white p-4">
                    <a asp-route-id="@i.Id" asp-action="Index" asp-controller="ProductDetail">
                        <div class="flex justify-end">
                            <p class="text-muted-foreground text-xs font-medium">@i.TotalSold SOLD</p>
                        </div>

                        <div class="my-4 flex items-center justify-center overflow-hidden">
                            <img src="@i.PictureUrl" class="size-24 object-cover md:size-28" />
                        </div>

                        <div class="flex flex-col gap-1">
                            <label class="line-clamp-1 text-base font-semibold">@i.Title</label>
                            <div class="mt-1 flex gap-1">
                                @foreach (var c in colorList)
                                {
                                    <div class="@c.style size-3 rounded-xs border border-border hover:cursor-pointer md:size-4">
                                    </div>
                                }
                            </div>

                        </div>
                    </a>
                    <div class="flex items-end justify-between">
                        <div class="mt-3 flex flex-col gap-1">
                            <p class="text-muted-foreground text-xs font-medium md:text-xs">Start From</p>
                            <p class="text-sm font-semibold">฿ @i.BasePrice</p>
                        </div>
                        <form method="post" asp-action="ToggleWishList" class="wishlist-form" asp-controller="Home" data-product-itemid="@i.Id">
                            @Html.AntiForgeryToken()
                            <input type="hidden" name="productId" value="@i.Id" />
                            <button type="submit" class="heart-btn" aria-label="Wishlist">
                                <svg xmlns="http://www.w3.org/2000/svg" class="heart-outline @(i.IsWishlisted ? "hidden" : "") size-6" viewBox="0 0 256 256"><path d="M178,40c-20.65,0-38.73,8.88-50,23.89C116.73,48.88,98.65,40,78,40a62.07,62.07,0,0,0-62,62c0,70,103.79,126.66,108.21,129a8,8,0,0,0,7.58,0C136.21,228.66,240,172,240,102A62.07,62.07,0,0,0,178,40ZM128,214.8C109.74,204.16,32,155.69,32,102A46.06,46.06,0,0,1,78,56c19.45,0,35.78,10.36,42.6,27a8,8,0,0,0,14.8,0c6.82-16.67,23.15-27,42.6-27a46.06,46.06,0,0,1,46,46C224,155.61,146.24,204.15,128,214.8Z"></path></svg>
                                <svg xmlns="http://www.w3.org/2000/svg" class="heart-fill size-6 fill-destructive @(i.IsWishlisted ? "" : "hidden")" viewBox="0 0 256 256"><path d="M240,102c0,70-103.79,126.66-108.21,129a8,8,0,0,1-7.58,0C119.79,228.66,16,172,16,102A62.07,62.07,0,0,1,78,40c20.65,0,38.73,8.88,50,23.89C139.27,48.88,157.35,40,178,40A62.07,62.07,0,0,1,240,102Z"></path></svg>
                            </button>
                        </form>
                    </div>
                </div>
            }
        </div>

    </div>

</div>

<div id="drawer-filter"
     class="fixed top-0 right-0 z-[999999] h-screen w-72 translate-x-full overflow-y-auto border-l border-border bg-white p-4 shadow-sm transition-transform md:w-96"
     tabindex="-1"
     aria-labelledby="drawer-filter-label">
    <div >
        <h5 id="drawer-filter-label" class="flex items-baseline gap-2 text-base font-medium text-primary md:text-lg">
            <span>
                <svg xmlns="http://www.w3.org/2000/svg" class="size-4" viewBox="0 0 256 256"><path d="M200,136a8,8,0,0,1-8,8H64a8,8,0,0,1,0-16H192A8,8,0,0,1,200,136Zm32-56H24a8,8,0,0,0,0,16H232a8,8,0,0,0,0-16Zm-80,96H104a8,8,0,0,0,0,16h48a8,8,0,0,0,0-16Z"></path></svg>
            </span>
            Filter</h5>
        <button type="button"
                data-drawer-hide="drawer-filter"
                aria-controls="drawer-filter"
                class="absolute top-2.5 right-2.5 inline-flex h-8 w-8 items-center justify-center rounded-sm bg-transparent text-sm text-gray-400 hover:bg-gray-200 hover:text-gray-900 dark:hover:bg-gray-600 dark:hover:text-white">
            <svg class="h-3 w-3" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                      d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6" />
            </svg>
        </button>
        <div class="my-3 h-px border-b border-border"></div>

        <div class="mt-5 flex flex-col gap-2">
            <h2 class="text-muted-foreground text-sm md:text-base">Sort by</h2>
            <form asp-action="Index" asp-controller="Discover" method="get">
                <input type="hidden" value="@keyword" name="keyword"/>
                <div>
                    @foreach(var item in sortList)
                    {
                        var isChecked = string.Equals(currentSort, item.value, StringComparison.OrdinalIgnoreCase);
                        <div class="mb-4 flex items-center">
                            <input id="@item.id" type="radio" value="@item.value" name="sort" @(isChecked ? "checked" : "") class="h-4 w-4 border-gray-300 bg-gray-100 text-primary @(isChecked ? "focus:ring-2 focus:ring-primary" : "") active:rounded-sm">
                            <label for="@item.HTMLFor" class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">@item.label</label>
                        </div>

                    }
                </div>

                <div class="flex justify-end">
                    <button type="submit" class="mt-3 border-[0.5px] bg-primary px-4 py-1 text-sm text-white transition-colors duration-200 hover:cursor-pointer hover:bg-transparent hover:text-primary">
                        Apply
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
