@model List<Vex_E_commerce.Models.Product>

@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";

    var colorList = new[]
   {
        new { style = "bg-red-600"      },
        new { style = "bg-neutral-900"  },
        new { style = "bg-white border" },
    };

    var categoryList = new[]
    {
        new
        {
            label = "T-Shirt",
            imgHover = "https://cdn01.pinkoi.com/product/WyzEB7Dz/0/1/640x530.jpg",
            path = "T-shirt",
            img = "https://streetconnect-402.com/cdn/shop/files/stc-classic-tshirt-black-back.png?v=1747523129&width=770"

        },
        new
        {
            label = "Accessories",
            imgHover = "https://www.hawaiisurf.com/cdn/shop/collections/accessoires-streetwear-897338.jpg?v=1708074134&width=1296",
            path = "Accessories",
            img = "https://images.nexusapp.co/assets/76/d9/ee/709814866.png"
        },
        new
        {
            label = "Sweater",
            imgHover = "https://img4.dhresource.com/webp/m/0x0/f3/albu/jc/j/22/7ff8e5c6-deea-41e1-b400-84ab6e2fa897.jpg",
            path = "Sweater",
            img = "https://charlottefolk.co/cdn/shop/files/CF-HOLIDAY-SWEATER-BLACK-B.png?v=1703004194"
        },
        new
        {
            label = "Hoodie",
            imgHover = "https://techwear.store/cdn/shop/products/japanese-streetwear-hoodie-815_1800x1800.jpg?v=1643365967",
            path = "Hoodie",
            img = "https://elevatestreetstyle.com/cdn/shop/files/Elevate-Hoodie-Black.png?v=1731769231"
        },
    };

}
<div class="bg-[#fafafa] pt-16 md:pt-[76px]">
    <section class="relative h-svh w-full">
        <img class="h-full w-full object-cover object-[50%_25%]" src="https://images.unsplash.com/photo-1523398002811-999ca8dec234?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&q=80&w=3705" />
            <div class="absolute bottom-32 w-full">
                <partial name="HomePagePartial/marquee" />
            </div>
            <div class="absolute right-2 bottom-36 md:right-40 md:bottom-64">
            <div class="flex items-center gap-4 rounded-full bg-white px-6 py-3 transition-colors duration-300 hover:cursor-pointer hover:bg-primary hover:text-white md:px-12 md:py-4">
                <a class="text-lg font-semibold md:text-xl">Shop Now!</a>
                <i class="ph-bold ph-arrow-up-right text-2xl md:text-3xl"></i>
              </div>
            </div>
    </section>
    <section class="mx-5 md:mx-10 lg:mx-32">
        <figure class="mt-10">
            <h2 class="flex items-center gap-2 text-3xl font-medium">
                Biggest 
                <span class="font-bold">Sales</span>
                Ever
            </h2>
                <div class="mt-10 grid grid-cols-2 gap-4 md:grid-cols-3 md:gap-10 lg:grid-cols-5">
                @foreach(var i in Model)
                {
                    <a asp-route-id="@i.Id" asp-action="Index" asp-controller="ProductDetail" class="font-geist flex h-[276px] flex-col rounded-md border border-border bg-white p-4">
                        <div class="flex justify-end">
                            <p class="text-muted-foreground text-xs font-medium">@i.TotalSold SOLD</p>
                        </div>    
                        
                        <div class="my-4 flex items-center justify-center overflow-hidden">
                                <img src="@i.PictureUrl" class="size-24 object-cover md:size-28" />
                            </div>

                            <div class="flex flex-col gap-1">
                                <label class="line-clamp-1 text-base font-semibold">@i.Title</label>
                                <div class="mt-1 flex gap-1">
                                    @foreach (var c in colorList)
                                    {
                                        <div class="@c.style size-3 rounded-xs border border-border hover:cursor-pointer md:size-4">
                                        </div>
                                    }
                                </div>
                                <div class="flex items-end justify-between">
                                    <div class="mt-3 flex flex-col gap-1">
                                        <p class="text-muted-foreground text-xs font-medium md:text-xs">Start From</p>
                                        <p class="text-sm font-semibold">฿ @i.BasePrice</p>
                                    </div>
                                    <i class="ph ph-heart text-xl"></i>
                                </div>
                            </div>
                    </a>
                }
            </div>
        </figure>
    </section>
    <section class="mt-20 md:mt-40">
        <partial name="HomePagePartial/Banner-clip-path" />
    </section>
    <section class="mx-5 mt-20 md:mx-10 lg:mx-32">
        <div>
            <h2 class="text-2xl font-bold">Category</h2>
        </div>
        <div class="mt-10 grid grid-cols-2 gap-4 md:gap-10 lg:grid-cols-4">
            @foreach(var i in categoryList)
            {
                <div class="group">
                    <a class="hover:cursor-pointer" asp-action="CategoryProduct" asp-controller="Home" asp-route-category="@i.path">
                        <div class="flex items-center justify-center overflow-hidden border border-border p-5">
                            <div class="relative size-28 md:size-52">
                                <img src="@i.imgHover" class="absolute inset-0 z-10 h-full w-full object-cover opacity-0
                            transition-opacity duration-300 ease-in-out
                            group-hover:opacity-100" />
                                <img src="@i.img" class="absolute inset-0 h-full w-full object-contain
                            transition-opacity duration-300 ease-in-out
                            group-hover:opacity-0" />
                            </div>
                        </div>
                        <div class="mt-5 flex justify-between">
                            <label class="items-baseline text-lg font-medium underline hover:cursor-pointer">
                                @i.label
                            </label>
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 16 16"><path fill="currentColor" d="M10.586 4H4V2h10v10h-2V5.414l-8.293 8.293l-1.414-1.414z" /></svg>
                        </div>
                    </a>
                </div>
            }
        </div>
    </section>

    
    <div class="my-24 h-px flex-1 border-b border-border"></div>


    <div class="mx-5 md:mx-10 lg:mx-32">
        <figure class="mt-10">
            <h2 class="flex items-center gap-2 text-3xl font-bold">
               Today's Trends
            </h2>
            <div class="mt-10 grid grid-cols-2 gap-4 md:grid-cols-3 md:gap-10 lg:grid-cols-5">
                @foreach (var i in Model)
                {
                    <a asp-route-id="@i.Id" asp-action="Index" asp-controller="ProductDetail" class="font-geist flex h-[276px] flex-col rounded-md border border-border bg-white p-4">
                        <div class="flex justify-end">
                            <p class="text-muted-foreground text-xs font-medium">@i.TotalSold SOLD</p>
                        </div>

                        <div class="my-4 flex items-center justify-center overflow-hidden">
                            <img src="@i.PictureUrl" class="size-24 object-cover md:size-28" />
                        </div>

                        <div class="flex flex-col gap-1">
                            <label class="line-clamp-1 text-base font-semibold">@i.Title</label>
                            <div class="mt-1 flex gap-1">
                                @foreach (var c in colorList)
                                {
                                    <div class="@c.style size-3 rounded-xs border border-border hover:cursor-pointer md:size-4">
                                    </div>
                                }
                            </div>
                            <div class="flex items-end justify-between">
                                <div class="mt-3 flex flex-col gap-1">
                                    <p class="text-muted-foreground text-xs font-medium md:text-xs">Start From</p>
                                    <p class="text-sm font-semibold">฿ @i.BasePrice</p>
                                </div>
                                <i class="ph ph-heart text-xl"></i>
                            </div>
                        </div>
                    </a>
                }
            </div>
        </figure>
        <figure class="mt-10">
            <h2 class="flex items-center gap-2 text-3xl font-bold">
               Recently Sold
            </h2>
            <div class="mt-10 grid grid-cols-2 gap-4 md:grid-cols-3 md:gap-10 lg:grid-cols-5">
                @foreach (var i in Model)
                {
                    <a asp-route-id="@i.Id" asp-action="Index" asp-controller="ProductDetail" class="font-geist flex h-[276px] flex-col rounded-md border border-border bg-white p-4">
                        <div class="flex justify-end">
                            <p class="text-muted-foreground text-xs font-medium">@i.TotalSold SOLD</p>
                        </div>

                        <div class="my-4 flex items-center justify-center overflow-hidden">
                            <img src="@i.PictureUrl" class="size-24 object-cover md:size-28" />
                        </div>

                        <div class="flex flex-col gap-1">
                            <label class="line-clamp-1 text-base font-semibold">@i.Title</label>
                            <div class="mt-1 flex gap-1">
                                @foreach (var c in colorList)
                                {
                                    <div class="@c.style size-3 rounded-xs border border-border hover:cursor-pointer md:size-4">
                                    </div>
                                }
                            </div>
                            <div class="flex items-end justify-between">
                                <div class="mt-3 flex flex-col gap-1">
                                    <p class="text-muted-foreground text-xs font-medium md:text-xs">Start From</p>
                                    <p class="text-sm font-semibold">฿ @i.BasePrice</p>
                                </div>
                                <i class="ph ph-heart text-xl"></i>
                            </div>
                        </div>
                    </a>
                }
            </div>
        </figure> 
    </div>
</div>


