@model Vex_E_commerce.Models.Cart

@{
    ViewData["Title"] = "My Cart";
}

<h2>@ViewData["Title"]</h2>

@if (Model.Items == null || !Model.Items.Any())
{
    <p>Your cart is empty.</p>
}
else
{
    <div class="mt-25 m-20 **flex flex-col md:flex-row** gap-4">

        <div class="**w-full md:w-1/2 lg:w-7/10**">
            <h1 class="pb-5 text-2xl font-semibold">Shopping Cart</h1>
            <table class="w-full border-t border-gray-300">
                <thead>
                    <tr class="border-b border-gray-300">
                        <th class="px-2 py-3 md:px-6 md:py-4"></th>
                        <th class="px-2 py-3 md:px-6 md:py-4">Product</th>
                        <th class="px-2 py-3 md:px-6 md:py-4">Variant</th>
                        <th class="px-2 py-3 md:px-6 md:py-4">Quantity</th>
                        <th class="px-2 py-3 md:px-6 md:py-4">Unit Price</th>
                        <th class="px-2 py-3 md:px-6 md:py-4">Total</th>
                        <th></th>
                    </tr>
                </thead>

                <tbody class="divide-y divide-gray-200">
                    @foreach (var item in Model.Items)
                    {
                        <tr>
                            <td class="">
                                <img class="block mx-auto w-[10px] h-auto"
                                     src="@item.ProductVariant.Product.PictureUrl" />
                            </td>

                            <td class="px-2 py-3 md:px-6 md:py-4 text-center">
                                @item.ProductVariant.Product.Title
                            </td>

                            <td class="px-2 py-3 md:px-6 md:py-4 text-center">
                                @item.ProductVariant.Color - @item.ProductVariant.Size
                            </td>

                            <td class="px-2 py-3 md:px-6 md:py-4 text-center">
                                @item.Quantity
                            </td>

                            <td class="px-2 py-3 md:px-6 md:py-4 text-center">
                                @item.UnitPrice.ToString("C")
                            </td>

                            <td class="px-2 py-3 md:px-6 md:py-4 text-center">
                                @item.Price.ToString("C")
                            </td>

                            <td class="px-2 py-3 md:px-6 md:py-4 text-center">
                                <form asp-action="Delete" asp-controller="Cart" method="post">
                                    <input type="hidden" name="itemId" value="@item.Id" />
                                    <button type="submit" class="text-gray-500 hover:text-black text-xl">
                                        ×
                                    </button>
                                </form>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>

        </div>

        <div class="**w-full md:w-1/2 lg:w-3/10** **md:pl-10 lg:border-l lg:border-gray-300**">
            <div class="**md:pl-5**">
                <h1 class="pb-10 text-2xl font-semibold">Cart Total</h1>

                <div class="py-4 flex justify-between border-b border-gray-200">
                    <span>Subtotal</span>
                    <span>@ViewBag.ItemsTotal ฿</span>
                </div>

                <div class="py-4 flex justify-between">
                    <span>Shipping Fee</span>
                    <span>@ViewBag.ShippingFee ฿</span>
                </div>

                <div class=" flex justify-between border-b border-gray-200 pb-4">
                    <span>Tax</span>
                    <span>@ViewBag.Tax ฿</span>
                </div>

                <div class="py-4 flex justify-between font-semibold pt-3">
                    <span>Total</span>
                    <span>@ViewBag.TotalAmount ฿</span>
                </div>

                <a asp-action="Index"
                   asp-controller="ThankYou"
                   asp-route-cartId="@Model.Id"
                   class="block mt-5 bg-black text-white px-6 py-3 rounded text-center hover:opacity-90">
                    Checkout
                </a>

            </div>
        </div>
    </div>
}