@model Vex_E_commerce.Models.Cart

@{
    ViewData["Title"] = "My Cart";
    Layout = "~/Views/Shared/_ProtectLayout.cshtml";

}

<div class="mx-5 pt-44 md:mx-40 md:pt-30">
    <h2 class="text-2xl font-bold">@ViewData["Title"]</h2>
    <div class="my-5 h-px border-b border-border"></div>
    @if (Model.Items == null || !Model.Items.Any())
    {
        <div class="flex min-h-[50vh] w-full flex-col items-center justify-center gap-3">
            <div class="bg-muted-foreground/30 flex items-center justify-center rounded-full">
                <i class="ph ph-shopping-cart m-6 text-6xl text-white"></i>

            </div>
            <p class="text-muted-foreground text-lg font-semibold">Your cart is empty.</p>
            <a asp-controller="Home" asp-action="Index" class="text-sm font-medium underline">Continue Shopping</a>
        </div>
    }
    else
    {
        <div class="mx-0 grid grid-cols-1 gap-4 md:grid-cols-5">
            <div class="relative col-span-3 overflow-x-auto">
                <table class="text-body w-full text-left text-sm rtl:text-right">
                    <thead class="text-body bg-neutral-secondary-medium border-b border-border text-sm">
                        <tr>
                            <th scope="col" class="rounded-s-base px-6 py-3 font-medium">
                                Product
                            </th>
                            <th scope="col" class="px-6 py-3 font-medium">
                                Variant
                            </th>
                            <th scope="col" class="rounded-e-base px-6 py-3 font-medium">
                                Quantity
                            </th>
                            <th scope="col" class="rounded-e-base px-6 py-3 font-medium">
                                Unit Price
                            </th>
                            <th scope="col" class="rounded-e-base px-6 py-3 font-medium">
                                Total
                            </th>
                        </tr>
                    </thead>
                    <tbody class="divide-y divide-gray-200">
                        @foreach (var item in Model.Items)
                        {
                            <tr>
                                <td class="px-2 py-3 text-left md:px-6 md:py-4">
                                    <div class="flex items-center gap-4">
                                        <img class="size-10 rounded-md object-cover md:size-18"
                                             src="@item.ProductVariant.Product.PictureUrl" />
                                        <p class="text-base">@item.ProductVariant.Product.Title</p>
                                    </div>
                                </td>

                                <td class="px-2 py-3 text-center md:px-6 md:py-4">
                                    @item.ProductVariant.Color - @item.ProductVariant.Size
                                </td>

                                <td class="px-2 py-3 text-center md:px-6 md:py-4">
                                    @item.Quantity
                                </td>

                                <td class="px-2 py-3 text-center md:px-6 md:py-4">
                                    @item.UnitPrice.ToString("C")
                                </td>

                                <td class="px-2 py-3 text-center md:px-6 md:py-4">
                                    @item.Price.ToString("C")
                                </td>

                                <td class="px-2 py-3 text-center md:px-6 md:py-4">
                                    <form asp-action="Delete" asp-controller="Cart" method="post">
                                        <input type="hidden" name="itemId" value="@item.Id" />
                                        <button type="submit" class="text-xl text-gray-500 hover:text-black">
                                            ×
                                        </button>
                                    </form>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="col-span-2 border-t border-l-0 border-gray-200 pt-5 md:border-t-0 md:border-l">
                <div class="md:pl-5">
                    <h1 class="text-2xl font-semibold">Cart Total</h1>

                    <div class="flex justify-between border-b border-gray-200 py-4">
                        <span>Subtotal</span>
                        <span>@ViewBag.ItemsTotal ฿</span>
                    </div>

                    <div class="flex justify-between py-4">
                        <span>Shipping Fee</span>
                        <span>@ViewBag.ShippingFee ฿</span>
                    </div>

                    <div class="flex justify-between border-b border-gray-200 pb-4">
                        <span>Tax</span>
                        <span>@ViewBag.Tax ฿</span>
                    </div>

                    <div class="flex justify-between py-4 pt-3 font-semibold">
                        <span>Total</span>
                        <span>@ViewBag.TotalAmount ฿</span>
                    </div>

                    <a asp-action="Index"
                       asp-controller="Checkout"
                       asp-route-cartId="@Model.Id"
                       class="mt-5 block rounded bg-black px-6 py-3 text-center text-white hover:opacity-90">
                        Checkout
                    </a>

                </div>
            </div>
        </div>
    }
</div>